[submodule "dss-flappers/lib/dss-test"]
	path = dss-flappers/lib/dss-test
	url = https://github.com/makerdao/dss-test
[submodule "vote-delegate/lib/dss-test"]
	path = vote-delegate/lib/dss-test
	url = https://github.com/makerdao/dss-test
[submodule "lockstake/lib/token-tests"]
	path = lockstake/lib/token-tests
	url = https://github.com/makerdao/token-tests/
[submodule "ngt/lib/token-tests"]
	path = ngt/lib/token-tests
	url = https://github.com/makerdao/token-tests
[submodule "endgame-toolkit/lib/forge-std"]
	path = endgame-toolkit/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "endgame-toolkit/lib/dss-test"]
	path = endgame-toolkit/lib/dss-test
	url = https://github.com/makerdao/dss-test
[submodule "endgame-toolkit/lib/token-tests"]
	path = endgame-toolkit/lib/token-tests
	url = https://github.com/makerdao/token-tests
[submodule "endgame-toolkit/lib/openzeppelin-contracts"]
	path = endgame-toolkit/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "endgame-toolkit/lib-0_6_x/dss-vest"]
	path = endgame-toolkit/lib-0_6_x/dss-vest
	url = https://github.com/makerdao/dss-vest.git
[submodule "nst/lib/token-tests"]
	path = nst/lib/token-tests
	url = https://github.com/makerdao/token-tests
[submodule "nst/lib/openzeppelin-contracts-upgradeable"]
	path = nst/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "nst/lib/openzeppelin-foundry-upgrades"]
	path = nst/lib/openzeppelin-foundry-upgrades
	url = https://github.com/OpenZeppelin/openzeppelin-foundry-upgrades
[submodule "sdai/lib/token-tests"]
	path = sdai/lib/token-tests
	url = https://github.com/makerdao/token-tests
[submodule "sdai/lib/erc4626-tests"]
	path = sdai/lib/erc4626-tests
	url = https://github.com/a16z/erc4626-tests
[submodule "sdai/lib/openzeppelin-contracts-upgradeable"]
	path = sdai/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "sdai/lib/openzeppelin-foundry-upgrades"]
	path = sdai/lib/openzeppelin-foundry-upgrades
	url = https://github.com/OpenZeppelin/openzeppelin-foundry-upgrades
[submodule "univ2-pool-migrator/lib/forge-std"]
	path = univ2-pool-migrator/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "univ2-pool-migrator/lib/ngt"]
	path = univ2-pool-migrator/lib/ngt
	url = https://github.com/makerdao/ngt
[submodule "univ2-pool-migrator/lib/nst"]
	path = univ2-pool-migrator/lib/nst
	url = https://github.com/makerdao/nst
